.header {
  padding: 24px 0;
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_left,
    &_right {
      display: flex;
      align-items: center;
    }
  }
}
