@use "../../styles/vars.scss" as *;

.card {
  background-color: $tools_bg_color;
  border-radius: 16px;
  padding: 24px;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &_title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &_description {
    font-size: 14px;
    color: $secondary_color;
    line-height: 1.4;
    margin-bottom: 12px;
    text-align: left;
    flex-grow: 1;
  }

  &_score {
    font-size: 12px;
    color: $accent_color;
    font-weight: 600;
    background-color: rgba($accent_color, 0.1);
    padding: 4px 8px;
    border-radius: 8px;
    margin-bottom: 12px;
  }

  &_link {
    display: block;
    width: 100%;
    border: 1px solid $accent_color;
    border-radius: 12px;
    padding: 12px 24px;
    border-color: $accent_color;
    color: $accent_color;
    transition: all 0.3s;
    font-weight: 600;
    margin-top: auto;

    &:hover {
      background-color: $accent_color;
      color: $primary_color;
    }
  }
}