@use "../../styles/vars.scss" as *;
.header_logo img {
    width: 150px;  /* Установи нужную ширину */
    height: auto;  /* Автоматическая высота, чтобы сохранить пропорции */
  }
  
  .header {
    padding: 40px 0;
    background-color: $bg_color;

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primary_color_1;
        font-weight: 600;
    }

    &_nav {
        &_list {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                transition: color 0.3s;
                cursor: pointer;

                &.active {
                    color: rgba($color: $secondary_color_1, $alpha: 0.6);
                }

                &:hover {
                    color: $secondary_color_1;
                }
            }
        }
    }
}

.language-toggle {
    display: flex;
    gap: 12px;
    align-items: center;

    button {
        background: transparent;
        border: 1px solid $primary_color_1;
        color: $primary_color_1;
        padding: 6px 14px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $primary_color_1;
            color: $bg_color;
        }
    }
}