@use "../../styles/vars.scss" as *;

.footer {
  padding-top: 40px;
  padding-bottom: 40px;

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  &_left {
    display: flex;
    gap: 60px;
  }
}

.company_info {
  display: flex;
  gap: 24px;

  p {
    font-size: 8px;
    color: $secondary_color;
  }

  .nitec_info,
  .sdu_info {
    display: flex;
    flex-direction: column;
    align-items: start;

    img {
      height: 40px;
      margin-bottom: 24px;
    }
  }

  .vertical_line {
    border-radius: 2px;
    width: 2px;
    height: 60%;
    background-color: $secondary_color;
  }
}

.social_links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  &_icons {
    display: flex;
    gap: 10px;
  }
}


.contact {
  &_info {
    display: flex;
    gap: 20px;



    a {
      display: flex;
      align-items: center;
      gap: 12px;
      font-size: 16px;
      color: $primary_color;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &_address {
    span {
      width: 25ch;
    }

    display: flex;
    gap: 22px;
    flex-direction: column;
  }

  &_location {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &_call_center {
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
}