@use "../../styles/vars.scss" as *;

.feedback_form {
  color: $secondary_color;

  label {
    font-size: 24px;
    font-weight: 400;
  }

  input,
  textarea {
    border-radius: 16px;
    border: 1px solid $secondary_color;
    padding: 24px 32px;
    font-size: 24px;
    transition: all 0.3s;

    &:focus,
    &:active {
      outline: none;
      border-color: $accent_color;
      box-shadow: 0 0 0 4px rgba(var(--accent-color-rgb), 0.2);
    }
  }

  textarea {
    height: 100%;
    resize: none;
  }

  &_inputs {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
  }

  &_left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 35%;
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    &>button {
      width: 50%;
      border: 2px solid $accent_color;
      padding: 24px 32px;
      font-size: 24px;
      cursor: pointer;
      border-radius: 16px;
      transition: all 0.3s;

      &:focus,
      &:active {
        outline: none;
        box-shadow: 0 0 0 4px rgba(var(--accent-color-rgb), 0.3);
        transform: scale(0.98);
      }
    }
  }

  &_submit {
    background-color: $accent_color;
    color: $primary_color;

    &:hover {
      background-color: transparent;
      color: $accent_color;
    }
  }

  &_reset {
    color: $accent_color;

    &:hover {
      background-color: $accent_color;
      color: $primary_color;
    }
  }

  input,
  textarea {
    border-radius: 16px;
    border: 1px solid $secondary_color;
    padding: 24px 32px;
    font-size: 24px;
    transition: all 0.3s;
    background-color: $tools_bg_color;
    color: $secondary_color;

    &:focus,
    &:active {
      color: $primary_color;
      outline: none;
      border-color: $accent_color;
      background-color: rgba(var(--accent-color-rgb), 0.05);
      box-shadow: 0 0 0 4px rgba(var(--accent-color-rgb), 0.2);
    }
  }

  .form_error {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }

  .form_success {
    color: green;
    margin-top: 1rem;
    font-weight: bold;
  }


}