@use "tailwindcss";
@use "./fonts.scss";
@use "./vars.scss" as *;

* {
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  all: unset;
}

button {
  cursor: pointer;
}

body {
  line-height: 1.2;

  background: $bg_color;
  color: $primary_color;
  font-family: $font_sans;
}