$primary_color_1: #ffffff;
$secondary_color_1: #ffffff80;
$primary_color_2: #000000;
$secondary_color_2: #00000080;
$accent_color_1: #185ADB;
$accent_color_2: #185ADB80;
$bg_color: #263E6E;


$font: "Montserrat", sans-serif;